* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #efefef;
}

ul,
ol,
menu {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.container.home .title {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 4rem;
}

.container.home .films-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container.home .films-list .list-item {
  flex-basis: calc((100% - 4rem) / 5);
  padding: 1rem;
  border: 1px solid lightcoral;
  border-radius: 5px;
}

.container.home .films-list .list-item .accent {
  font-weight: bold;
}

.container.home .films-list .list-item .film-title {
  min-height: 61px;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid lightcoral;
}

.container.home .films-list .list-item .film-title,
.container.home .films-list .list-item .original-title,
.container.home .films-list .list-item .nationality,
.container.home .films-list .list-item .date {
  margin-bottom: 1rem;
}

.container.home .films-list .list-item .film-title .accent,
.container.home .films-list .list-item .original-title .accent,
.container.home .films-list .list-item .nationality .accent,
.container.home .films-list .list-item .date .accent,
.container.home .films-list .list-item .vote .accent {
  display: block;
  line-height: 1.75;
}

